* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme-color: rgb(0, 140, 255);
    --accent-color: rgb(221, 230, 236);
    --user-icon: rgb(255, 217, 0);
}

body {
    background-color: #000;
    color: #fff;
    height: 1vh;
    display: grid;
    grid-template-columns: minmax(150px, 200px) 4fr;
    grid-template-rows: 1fr 4fr;
}

ul {
    list-style: none;
}

nav {
    background-color: var(--theme-color);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 10px;
    display: grid;
    grid-template-rows: 50px repeat(2, 200px);
    row-gap: 30px;
    font-weight: bold;
    line-height: 2rem;
}

header {
    background-color: #fff;
    color: #000;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    padding: 15px 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-top .search-field .search-icon .material-symbols-outlined {
    font-size: 20px;
    font-weight: 500;
}

.search-field {
    display: grid;
    grid-template-columns: 5% 95%;
}

.header-top input {
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 75%;
    border: none;
    height: 20px;
}

.header-top-nav-list {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    justify-items: end;
}

.header-top-nav-list > .material-symbols-outlined {
    font-size: 24px;
    align-self: center;
}

.header-top-nav-list > :nth-child(2) {
    background: var(--user-icon);
    height: 30px;
    width: 30px;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    font-size: 24px;
    padding-top: 2px;
}


.header-top-nav-list > :nth-child(3) {
    font-weight: bold;
    align-self: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-bottom-hello {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-weight: bold;
}

.header-bottom-hello > .material-symbols-outlined {
    background: var(--user-icon);
    height: 40px;
    width: 40px;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    font-size: 36px;
}

.tiny {
    font-size: 12px;
}

.header-bottom-buttons {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 5px;
    justify-items: end;
}

.header-bottom-buttons button {
    background-color: var(--theme-color);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 80px;
}

main {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    background-color: var(--accent-color);
}

article>p,
.card li p {
    font-size: 14px;
    color: #333;
}

section {
    color: #000;
    display: grid;
    grid-template-rows: 30px 1fr;
    row-gap: 10px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 15px;
}

article {
    background-color: #fff;
    border-left: 3px solid rgb(255, 230, 0);
    border-radius: 5px;
    height: 200px;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}


.card-links {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    justify-self: end;
}

.card-links > .material-symbols-outlined {
    font-variation-settings: 'WGHT' 100;
    font-variation-settings: 
}

aside {
    background-color: var(--accent-color);
    color: #000;
    display: grid;
    grid-template-rows: 30px 1fr 50px 300px;
    padding-left: 20px;
}

h3 .title {
    color: #000;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.trending-title {
    padding-top: 20px;
}

div .trending {
    display: grid;
    grid-template-rows: repeat(4, 100px); 
}

.trending-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 20px;
}

hr {
    margin: 10px 0;
}


